@use "sass:map";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/a11y.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: map.get($breakpoints, xl);
  margin-inline: auto;
  height: 64px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 1px 4px $color-grey-07;

  @include mq-min-width(md) {
    padding-inline: 20px;
  }

  @include mq-min-width(lg) {
    padding-inline: 135px;
  }
}

.skipNavLink {
  @include visually-hidden-focusable;
  @include focus-border;

  position: absolute;
  top: 5px;
  left: 0;
  color: $color-primary-grey;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;

  @include mq-min-width(md) {
    left: 20px;
  }

  @include mq-min-width(lg) {
    left: 135px;
  }
}
