@use "sass:map";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/buttons";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: map.get($breakpoints, xl);
  margin-inline: auto;
  background-color: $color-white;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 1px 4px $color-grey-07;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  padding-inline: 30px;

  @include mq-min-width(sm) {
    height: 64px;
  }

  @include mq-min-width(md) {
    padding-inline: 20px;
  }

  @include mq-min-width(xl) {
    padding-inline: 135px;
  }
}

.NavMobile {
  display: flex;
  align-items: center;
}

.secondaryNav {
  width: 175px;
  text-align: right;
  flex-direction: row;
}

.headerPanelDesktop {
  border-top: 1px solid $color-grey-03;
  padding-inline: 20px;

  @include mq-min-width(xl) {
    padding-inline: 135px;
  }
}

.headerPanelMobile {
  overflow: hidden;
  height: 100vh;
  padding-left: 37px;
  padding-right: 14px;

  @media (prefers-reduced-motion: no-preference) {
    transition: max-height 0.5s ease;
  }
}

.tabletSearchContainer {
  position: fixed;
  background-color: $color-white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.searchPaneDesktop,
.searchPaneTablet {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  div {
    flex-grow: 1;
  }
}

.searchPaneDesktop {
  padding: 10px 0;
}

.searchPaneTablet {
  border: 1px solid $color-grey-06;
  padding: 15px 30px;

  @include mq-min-width(sm) {
    padding: 15px;
  }
}

.closeButton {
  @include unstyle-button;
  position: inherit;
  display: flex;
  border: 1px solid transparent;
  padding: 3px;

  svg {
    height: 14px;
    width: 14px;
    path {
      stroke: $color-black;
      stroke-width: 3;
    }
  }

  &:hover {
    color: $color-links;
  }

  &:focus {
    @include focus-button;
  }
}

.chevronButton {
  display: flex;
  border: 1px solid transparent;
  background: transparent;
  padding: 3px;

  svg {
    height: 23px;
    path {
      stroke: $color-black;
      stroke-width: 2.5;
    }
  }

  &:focus {
    @include focus-button;
  }
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.75);
  overflow: hidden;
}
