@import "../../scss/globals/variables";
@import "../../scss/globals/color";
@import "/scss/globals/layout";

.select {
  font-family: $font-regular;
  padding: 10px 20px;
}

.icon {
  font-family: "icomoon" !important;
  color: $color-primary-accent;
  font-size: 12px;
  display: inline-block;
  padding: 14px 20px;
  
  &::before {
    content: "\e97e";
  }
}

.input {
  border-radius: 0px !important;
  height: 45px;
  padding: 0px 0px;
  fieldset {
    border: 1px solid $color-hint;
  }

  &:hover {
    fieldset {
      border: none;
    }
    border: 1px solid $color-primary-accent;
  }
}

.activeInput {
  fieldset {
    border: 3px solid $color-primary-accent !important;
  }
}

.input:focus-within {
  fieldset {
    border: 3px solid $color-primary-accent !important;
  }
  svg {
    color: $color-primary-accent;
  }
}

.paper {
  padding: 0px 0px;
  border-radius: 0px;
  border: 1px solid #767676;
  box-shadow: none;
}

.none {
  display: none;
}

.modalContainer {
  width: 100%;
}

.menuItem {
  border-bottom: 1px solid $color-grey-07;
  @include mq-min-width(lg) {
    padding: 16px 57px 14px 20px;
  }
  padding: 18px 57px 18px 20px;
  font-family: $font-regular;
  &:hover {
    background-color: $color-grey-05;
  }
  &:active {
    background-color: $color-grey-05;
    color: $color-white;
  }
  &:focus {
    background-color: $color-primary;
  }
}

.menuList {
  padding: 0px;
}

.selectedMenuItem {
  font-family: $font-regular;
  font-weight: 700;
  &::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 6px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    border: solid $color-primary-grey;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
