@import "../../scss/globals/variables";
@import "../../scss/globals/color";
@import "/scss/globals/layout";

/* MuiSelect: */

.root {
  height: 45px;
  padding: 0px 0px;
  border-radius: 0px !important;

  fieldset {
    border: 1px solid $color-hint;
  }

  &:hover {
    fieldset {
      border: 1px solid $color-primary-accent !important;
    }
  }

  &:focus-within {
    fieldset {
      border: 3px solid $color-primary-accent !important;
    }
    svg {
      color: $color-primary-accent;
    }
  }
}

.activeInput {
  fieldset {
    border: 3px solid $color-primary-accent !important;
  }
}

.select {
  font-family: $font-regular;
  padding: 10px 20px;
}

.icon {
  fill: $color-primary-accent;
  font-size: 32px;
  margin-right: 5px;
}

/* in Menu props: */

.paper {
  padding: 0px 0px;
  border-radius: 0px;
  border: 1px solid #767676;
  box-shadow: none;
}

.menuList {
  padding: 0px;
}

/* in SelectModal: */

.mobileMenuList {
  padding: 0;
}

/* in MenuItemList: */

.menuItem {
  border-bottom: 1px solid $color-grey-07;
  padding: 18px 57px 18px 20px;
  font-family: $font-regular;

  &:hover {
    background-color: $color-grey-05 !important;
  }

  &:active {
    background-color: $color-primary-accent !important;
    color: $color-white;
  }

  &:focus {
    background-color: $color-primary;
  }

  @include mq-min-width(lg) {
    padding: 16px 57px 14px 20px;
  }
}

.selectedMenuItem {
  font-family: $font-regular;
  font-weight: 700;
  background-color: $color-primary !important;

  &::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 6px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    border: solid $color-primary-grey;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
