/*
Global styles, available to all components
*/

@use "sass:map";
@import "./globals/variables.scss";
@import "./globals/fonts.scss";
@import "./globals/layout.scss";
@import "./globals/color.scss";
@import "./globals/a11y.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $font-regular;
  font-size: 16px;

  @include mq-min-width(lg) {
    -webkit-font-smoothing: antialiased;
  }
}

body {
  margin: 0;
  font-family: $font-regular;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-black;
  background-color: $color-grey-05;
}

main {
  max-width: map.get($breakpoints, "xl");
  margin-top: -25px;
  margin-inline: auto;
  background-color: $color-grey-03;
}

/*  TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: $font-extra-bold;
  font-weight: 500 !important;
}

h1,
.h1 {
  font-size: 1.563rem;
  line-height: 30px;

  @include mq-min-width(smd) {
    font-size: 2.063rem;
    line-height: 41px;
  }

  @include mq-min-width(lg) {
    font-size: 2.375rem;
    line-height: 47px;
  }

  @include mq-min-width(xl) {
    font-size: 3.125rem;
    line-height: 65px;
  }
}

h2,
.h2 {
  font-size: 1.188rem;
  line-height: 24px;

  @include mq-min-width(smd) {
    font-size: 1.563rem;
    line-height: 30px;
  }

  @include mq-min-width(lg) {
    font-size: 1.75rem;
    line-height: 38px;
  }

  @include mq-min-width(xl) {
    font-size: 2.375rem;
    line-height: 47px;
  }
}

h3,
.h3 {
  font-size: 1.188rem;
  line-height: 24px;

  @include mq-min-width(lg) {
    font-size: 1.313rem;
    line-height: 26px;
  }

  @include mq-min-width(xl) {
    font-size: 1.75rem;
    line-height: 34px;
  }
}

h4,
.h4 {
  font-size: 0.875rem;
  line-height: 21px;

  @include mq-min-width(lg) {
    font-size: 1rem;
    line-height: 21px;
  }

  @include mq-min-width(xl) {
    font-size: 1.313rem;
    line-height: 26px;
  }
}

h5,
.h5 {
  font-size: 1rem;
}

p {
  font-family: $font-regular;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  line-height: 23px;

  @include mq-min-width(lg) {
    font-size: 1rem;
    line-height: 26px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  font-family: $font-extra-bold;
}

/* LINKS */

a {
  color: $color-primary-accent;
  text-decoration: underline;
  -webkit-text-decoration-skip: objects;

  &:hover {
    color: $color-links;
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid $color-primary-accent;
    outline-offset: 2px;
  }

  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }
  }

  &.primary {
    color: $color-white;
    text-decoration: underline;
    background-color: transparent;

    &:hover {
      color: $color-white;
      text-decoration: underline;
    }

    &:focus {
      outline: 1px solid $color-white;
      padding: 3px;
      box-sizing: border-box;
    }
  }
}

/* LISTS */

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  ul,
  ol {
    margin-bottom: 0;
  }
}

li {
  font-size: 0.875rem;
  line-height: 23px;
  font-family: $font-regular;
  margin-top: 0;

  @include mq-min-width(lg) {
    font-size: 1rem;
    line-height: 26px;
  }
}

/* QUOTE */

blockquote {
  margin: 0 0 1rem;
  font-size: 1rem;
  line-height: 28px;
  font-family: $font-regular;

  @include mq-min-width(smd) {
    font-size: 1.188rem;
    line-height: 30px;
  }

  @include mq-min-width(lg) {
    font-size: 1.313rem;
    line-height: 31.5px;
  }

  @include mq-min-width(xl) {
    font-size: 28px;
    line-height: 45px;
  }

  &::before,
  &::after {
    content: "";
  }
}

cite {
  font-style: normal;
}

/* UTILITY CLASSES */
.bg-white {
  background-color: $color-white;
}

.visually-hidden {
  @include visually-hidden;
}
.container {
  @include container;
}
