@import "../scss/globals/fonts.scss";
@import "../scss/globals/color.scss";
@import "../scss/globals/layout.scss";

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Averta-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, "Averta-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-black;
  text-align: left;
  background-color: $color-grey-05;
}

h3 {
  @include mq-min-width(sm) {
    font-size: 1.188rem;
    line-height: 24px;
  }
  @include mq-min-width(md) {
    font-size: 1.188rem;
    line-height: 24px;
  }
  @include mq-min-width(lg) {
    font-size: 1.313rem;
    line-height: 26px;
  }
  @include mq-min-width(xl) {
    font-size: 1.75rem;
    line-height: 34px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: "Averta-ExtraBold", sans-serif !important;
  font-weight: 500 !important;
}
