@use "sass:map";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";

.searchButton {
  background: blanchedalmond;
  display: inline-block;
  button {
    border: 1px solid transparent;
    background: transparent;
    outline: none;
  }
}
