@import "../../scss/globals/buttons.scss";

.cta {
  width: max-content;
  align-self: center;

  &.primary {
    @include cta-primary;
  }

  &.secondary {
    @include cta-secondary;
  }

  &.ctaSmall {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 23px;
  }

  &.fullWidth {
    width: auto;
  }
}
