@import "../../scss/globals/variables.scss";
@import "../../scss/globals/mixins.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";

.container {
  max-width: 100%;

  width: 100vh;
  @include mq-min-width(md) {
    width: 334px;
  }

  @include mq-min-width(lg) {
    width: 426px;
  }

  @include mq-min-width(xl) {
    width: 570px;
  }
}

.text {
  text-align: center;
  margin-bottom: 26px;

  h2 {
    margin-bottom: 10px;

    @include mq-min-width(lg) {
      margin-bottom: 15px;
    }
  }

  @include mq-min-width(lg) {
    margin-bottom: 30px;
  }
}

.linksList {
  margin: 10px !important;
  @include unstyle-list;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  li {
    &:first-child,
    &:last-child {
      grid-column: 1 / span 2;
    }
  }

}

.link {
  @include unstyle-link;
  @include focus-dotted-outline;

  display: block;
  border: 3px solid transparent;
  box-shadow: 0 2px 10px #e5e5e5;
  font-family: $font-extra-bold;
  font-weight: 500;
  text-align: center;
}

.linkLightBorder {
  border-color: $color-secondary-medium;
}

.linkHeading {
  height: 30px;
  line-height: 30px;
  margin: -3px -3px 0;
}

.linkHeadingDark {
  background-color: $color-primary-accent;
  color: $color-white;
}

.linkHeadingLight {
  background-color: $color-secondary-medium;
}

.link:hover,
.linkLightBorder:hover {
  border-color: $color-primary-accent;

  .linkHeadingLight {
    background-color: $color-primary-accent;
    color: $color-white;
  }
}

.linkPanel {
  padding: 15px;
}

.iconPanel {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.plus {
  margin-inline: 10px;
  font-size: 10px;
  padding-top: 5px;
  font-family: "icomoon" !important;
 
  @include mq-min-width(lg){
    margin-inline: 15px;
  }

  &::before {
    content: "\e968";
  }
}

.extIcon {
  svg {
    position: relative;
    left: 0.2em;
  }
}
.spacings {
  margin-top: 13.008px;
}
