@import "/scss/globals/color.scss";
@import "/scss/globals/layout.scss";
@import "scss/globals/typography.scss";

.section {
  @include container;

  background: $color-white;
}

.content {
  padding-bottom: 0.813em;

  @include mq-min-width(md) {
    text-align: center;
  }

  h2 {
    margin-bottom: 26px;
  }
}

.blogContainer {
  padding-top: 0.813em;
}

.accordions {
  padding-top: 3.438em;

  @include mq-min-width(lg) {
    padding-top: 4.688em;
  }
}
