@import "/scss/globals/color.scss";
@import "/scss/globals/layout.scss";
@import "scss/globals/typography.scss";

.section {
  background: $color-white;
}

.content {
  @include container;
  padding-bottom: 13px !important;

  @include mq-min-width(md) {
    text-align: center;
  }

  h2 {
    @include heading-margin();
  }
}

.accordions {
  @include container();
  padding-top: 13px !important;
}
