@use "sass:map";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";

.headerPanelMobile {
  overflow: hidden;
  height: 100vh;
  padding-left: 37px;
  padding-right: 14px;

  @media (prefers-reduced-motion: no-preference) {
    transition: max-height 0.5s ease;
  }
}
