@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/buttons.scss";

.banner {
  padding: 10px 30px;

  @include mq-min-width(md) {
    padding-inline: 37px;
  }

  @include mq-min-width(lg) {
    padding-inline: 20px;
  }

  @include mq-min-width(xl) {
    padding-inline: 135px;
  }

  &:first-child {
    background-color: $color-primary-accent;
    color: $color-white;

    a {
      color: $color-white;

      &:hover {
        color: $color-secondary-light;
      }

      &:focus {
        outline: 1px solid $color-white;
      }
    }
  }

  &:not(:first-child) {
    background-color: $color-grey-03;

    + .banner {
      border-top: 1px solid $color-grey-08;
    }

    a {
      &:hover {
        color: $color-primary-accent;
      }

      &:focus {
        outline: 1px solid $color-grey-08;
      }
    }
  }
}
