@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/buttons.scss";

.banner {
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  align-items: baseline;

  @include mq-min-width(md) {
    padding-inline: 37px;
  }

  @include mq-min-width(lg) {
    padding-inline: 20px;
  }

  @include mq-min-width(xl) {
    padding-inline: 135px;
  }
}

.primary {
  background-color: $color-primary-accent;
  color: $color-white;

  a,
  .closeButton {
    color: $color-white;

    &:hover {
      color: $color-secondary-light;
    }

    &:focus {
      outline: 1px solid $color-white;
    }
  }
}

.secondary {
  background-color: $color-grey-03;

  + .secondary {
    border-top: 1px solid $color-grey-08;
  }

  a,
  .closeButton {
    &:hover {
      color: $color-primary-accent;
    }

    &:focus {
      outline: 1px solid $color-grey-08;
    }
  }
}

.closeButton {
  @include unstyle-button;

  height: 10px;
  width: 10px;
  flex-shrink: 0;

  &:focus {
    outline-offset: 2px;
  }

  @include mq-min-width(lg) {
    height: 15px;
    width: 15px;
  }
}
