@import "../../scss/globals/mixins.scss";

.navList {
  @include unstyle-list;

  position: relative;

  li {
    display: inline;
  }
}

.subNav {
  @include unstyle-list;

  position: absolute;
  width: 715px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
