@import "../../scss/globals/mixins.scss";
@import "../../scss/globals/buttons.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/a11y.scss";

.nav {
  display: none;

  @include mq-min-width(lg) {
    display: block;
  }
}

.navList {
  @include unstyle-list;

  position: relative;

  li {
    display: inline;
  }
}

.navItem {
  @include unstyle-button;

  font-family: $font-extra-bold;
  margin: 0 20px;

  &:focus {
    @include focus-border;
    outline-offset: 3px;

    .navItemFocus {
      opacity: 1;
    }
  }

  &:hover {
    .navItemText {
      border-color: $color-primary-accent;
    }
  }

  &:focus:hover {
    .navItemFocus {
      border-color: $color-primary-accent;
    }
  }
}

.navItemText,
.navItemFocus {
  display: inline-block;
  border-bottom: 3px solid transparent;
  color: $color-black;
  font-size: 16px;
  line-height: 26px;
}

.navItemFocus {
  opacity: 0;
  font-family: $font-regular;
  width: 8px;
}

.navItemActive {
  .navItemText,
  .navItemFocus {
    color: $color-primary-accent;
    border-color: $color-primary-accent;
  }
}

.subNav {
  @include unstyle-list;

  position: absolute;
  width: 715px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: column;
  margin-top: 16px;
  padding: 20px 0 20px 10px;
}

.subItem {
  min-width: 357.5px;
}
