@import "../../scss/globals/layout.scss";
@import "../../scss/globals/variables.scss";
@import "../../scss/globals/typography.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/mixins.scss";

.flexContainer {
  display: flex;
  flex-direction: column;

  &.imageRight {
    flex-direction: column-reverse;
  }

  @include mq-min-width(md) {
    flex-direction: row;

    &.imageRight {
      flex-direction: row-reverse;
    }
  }
}

.flexContainer > div {
  flex: 0 0 50%;
}

.imageCol {
  position: relative;
  min-height: 100vw; // forces square image

  @include mq-min-width(md) {
    min-height: unset;
  }
}

.hideImage {
  display: none;

  @include mq-min-width(md) {
    display: block;
  }
}

.contentCol {
  @include container;

  h2 {
    @include heading-margin;
  }
}

.content {
  font-size: 14px;

  @include mq-min-width(lg) {
    font-size: 16px;
  }
}

.ctaLinkWrapper {
  margin-top: 30px;
}

.ctaLink {
  text-decoration: none;
}

.ctaLink:hover,
.ctaLink:focus {
  color: $color-primary-accent;
  text-decoration: none;

  .ctaText {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient($color-primary-accent, $color-primary-accent);
    background-size: 0 3px, 100% 3px;

    @media (prefers-reduced-motion: no-preference) {
      -webkit-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      transition-property: all;
      transition-property: background-size;
    }
  }
}

.ctaText {
  font-family: $font-extra-bold;
  font-size: 14px;
  color: $color-primary-grey;
  padding-bottom: 3px;
  background-color: transparent;
  background-image: linear-gradient($color-primary-grey, $color-primary-grey),
    linear-gradient($color-primary-accent, $color-primary-accent);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  &:hover {
    color: $color-primary-accent;
  }
}
