@import "../../scss/globals/layout.scss";

.flexContainer {
  display: flex;
  flex-direction: column;

  &.imageRight {
    flex-direction: column-reverse;
  }

  @include mq-min-width(md) {
    flex-direction: row;

    &.imageRight {
      flex-direction: row-reverse;
    }
  }
}

.contentCol,
.imageCol {
  flex: 1;
}

.imageCol {
  position: relative;
  min-height: 100vw; // forces square image

  @include mq-min-width(md) {
    min-height: unset;
  }
}

.contentCol {
  padding: 40px 30px;

  h2 {
    margin-bottom: 15px;
  }

  @include mq-min-width(md) {
    padding: 40px 37px;

    h2 {
      margin-bottom: 20px;
    }
  }

  @include mq-min-width(lg) {
    padding: 60px 71px;

    h2 {
      margin-bottom: 25px;
    }
  }

  @include mq-min-width(xl) {
    padding: 60px 135px;

    h2 {
      margin-bottom: 30px;
    }
  }
}
