@import "../../scss/globals/layout.scss";
@import "../../scss/globals/typography.scss";

.flexContainer {
  display: flex;
  flex-direction: column;

  &.imageRight {
    flex-direction: column-reverse;
  }

  @include mq-min-width(md) {
    flex-direction: row;

    &.imageRight {
      flex-direction: row-reverse;
    }
  }
}

.flexContainer > div {
  flex: 50%;
}

// .contentCol,
// .imageCol {
//   //flex: 1;
// }

.imageCol {
  position: relative;
  min-height: 100vw; // forces square image

  @include mq-min-width(md) {
    min-height: unset;
  }
}

.contentCol {
  @include container;

  h2 {
    @include heading-margin;
  }
}
