@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/variables";

.contentSection {
  max-width: 100%;
  width: 100vh;
  text-align: center;
  h2 {
    font-size: 1.5rem;
    @include mq-min-width(smd) {
      font-size: 1.563rem;
      line-height: 30px;
    }
    @include mq-min-width(lg) {
      font-size: 1.75rem;
      line-height: 38px;
    }
    @include mq-min-width(xl) {
      font-size: 2.375rem;
      line-height: 47px;
    }
  }
  p {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 0px;
    @include mq-min-width(lg) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.buttonContainer {
  @include mq-min-width(md) {
    display: inline-block;
    text-align: center;
  }
}
