@import "../../scss/globals/color.scss";

.link {
  font-size: inherit;
  color: $color-primary-grey;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient($color-primary-accent, $color-primary-accent);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 1px 100%;
  background-repeat: no-repeat;
  line-height: 1.2;
  position: relative;
  background-color: transparent;
  white-space: pre-wrap;
}

.link:hover {
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient($color-primary-accent, $color-primary-accent);
  background-size: 0 1px, 100% 1px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  transition-property: all;
  transition-property: background-size;
  color: $color-primary-accent;
}
