@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/buttons";
@import "../../scss/globals/mixins";

.panel {
  position: fixed;
  background-color: $color-white;
  width: 100%;
  height: 100%;

  @include mq-min-width(lg) {
    position: relative;
    max-width: 752px;

    &.noResults {
      border: 1px solid $color-grey-07;
      border-radius: 25px;

      &:hover {
        border-color: $color-primary-accent;
      }

      &:focus-within {
        outline: 3px solid $color-primary-accent;
        outline-offset: -1px;
      }
    }

    &.withResults {
      border-radius: 25px 25px 0 0;
    }
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 1px solid $color-grey-06;

  @include mq-min-width(md) {
    padding: 15px;
  }

  @include mq-min-width(lg) {
    border: none;
    padding: 0;
  }
}

.chevronButton {
  @include unstyle-button;

  display: flex;
  border: 1px solid transparent;
  background: transparent;
  padding: 3px;

  svg {
    height: 23px;
    path {
      stroke: $color-black;
      stroke-width: 2.5;
    }
  }

  &:focus {
    @include focus-button;
  }

  @include mq-min-width(lg) {
    display: none;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.75);
  overflow: hidden;
}

/* INPUT */

.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 25px;
  padding: 0 18px;
  border: 1px solid $color-grey-07;

  &:hover {
    border-color: $color-primary-accent;
  }

  &:focus-within {
    outline: 3px solid $color-primary-accent;
    outline-offset: -1px;
  }

  input {
    flex: 1;
    border: none;
    background-color: transparent;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 2px;
    font-family: $font-regular;

    &:focus {
      outline: none;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    position: relative;
  }

  @include mq-min-width(lg) {
    border: none;

    &:hover,
    &:focus-within {
      border: none;
      outline: none;
    }
  }
}

/* RESULTS */

.searchResults {
  @include unstyle-list;

  border-radius: 0 0 25px 25px;

  @include mq-min-width(lg) {
    position: absolute;
    background: $color-white;
    width: 100%;
    padding: 10px;

    /* Divider between input and results: */
    &::before {
      position: relative;
      content: "";
      display: block;
      top: -10px;
      margin-inline: auto;
      width: 100%;
      border-top: 1px solid $color-primary-accent;
    }
  }
}

.searchResultItem {
  &:not(:first-child) {
    border-top: 1px solid $color-grey-06;
  }
}

.searchResultItemLink {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: $color-primary-grey;
  font-size: 14px;

  &:hover,
  &:focus {
    color: $color-links;
    text-decoration: underline;
    border-color: $color-secondary-light;
    background-color: $color-secondary-light;
    outline: none;
  }

  @include mq-min-width(lg) {
    padding: 0.3125rem 0.625rem;
    color: $color-primary-grey;
    line-height: 23px;

    &:hover,
    :focus {
      background-color: $color-grey-03;
    }
  }
}

.searchResultHoveredItem {
  color: $color-links;
  text-decoration: underline;
  background-color: $color-secondary-light;
}
