@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/variables";

.mobileTabletNavBar {
  overflow: hidden;
}

.navItemsContainer {
  padding-left: 37px;
  padding-right: 14px;
  height: 100vh;
}

.accordionNavitems {
  box-shadow: none;
  border-bottom: 1px solid $color-grey-03;
}

.summaryNavitems {
  background-color: $color-white;
  padding-left: 6px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-extra-bold;
  font-weight: 500;
  justify-content: center;

  &:hover {
    background-color: $color-white;
    color: $color-primary-accent;
    text-decoration: underline;
    border: 1px solid $color-white;
  }

  &:focus {
    box-sizing: border-box;
    border: 1px solid $color-primary-accent;
    border-radius: 5px;
  }

  /* expanded */
  &.summaryExpandedNavitems {
    color: $color-black;
  }
}

.summaryIconNavitems {
  color: $color-black;
  margin-left: 1.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.65s;
  }

  .summaryIconNavitems {
    color: $color-black;
  }
}

.detailsNavitems {
  padding: 0px;

  @include mq-min-width(lg) {
    padding: 30px;
  }
}

.itemsColumn {
  display: grid;
  grid-template-columns: 50% 50%;
}

.mobileDetails {
  white-space: nowrap;
}

.buttonContainer {
  padding-top: 20px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
}

.buttonGaq {
  background-color: $color-primary;
  box-shadow: inset 0 0 0 3px $color-primary;
  width: 150px;
  border-radius: 25px;
  padding: 13px 21px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-family: $font-extra-bold;
  font-size: 18px;
  line-height: normal;
  border: unset;

  &:hover {
    box-shadow: inset 0 0 0 3px $color-primary-accent;
    color: $color-black;
  }

  &:focus {
    border-radius: 45px;
    outline: 1px solid $color-black;
    outline-offset: 3px;
  }
}

.buttonContentContainer {
  padding: 13px 0;
  border-bottom: 1px solid $color-grey-03;
}
