@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/variables";
@import "../../scss/globals/mixins";
@import "../../scss/globals/buttons";

/*
NOTE: `!important` used throughout to override MUI styles where the bugs are only seen on deployed site
*/

.container {
  overflow-y: scroll;
}

.nav {
  padding-left: 37px;
  padding-right: 14px;

  @include mq-min-width(sm) {
    padding-right: 37px;
  }
}

.accordionRoot {
  border-bottom: 1px solid $color-grey-03;

  &::before {
    display: none !important;
  }
}

.summary {
  background-color: $color-white;
  padding-left: 6px !important;
  padding-right: 14px !important;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-extra-bold;
  font-weight: 500;
  color: $color-black;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: content-box;

  &:hover {
    background-color: $color-white;
    color: $color-primary-accent !important;
    text-decoration: underline;
    border: 1px solid $color-white;
  }

  &:focus {
    box-sizing: border-box;
    border: 1px solid $color-primary-accent;
    border-radius: 5px;
    background-color: $color-white !important;
    border-color: $color-primary-accent;
  }

  /* expanded */
  &.summaryExpanded {
    color: $color-black;
  }

  @include mq-min-width(sm) {
    padding-right: 20px !important;
    font-size: 16px;
  }
}

.summaryIcon {
  color: $color-black;
  margin-left: 1.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.65s;
  }

  .summaryIcon {
    color: $color-black;
  }
}

.details {
  padding: 0px !important;

  @include mq-min-width(lg) {
    padding: 30px !important;
  }
}

.subItemsList {
  @include unstyle-list;
}

.itemsColumn {
  column-count: 2;
}

.mobileDetails {
  white-space: nowrap;
}

.secondaryNavContainer {
  padding: 13px 0;
  border-bottom: 1px solid $color-grey-03;
}

.buttonContainer {
  padding-top: 20px;
  padding-bottom: 140px;
  text-align: center;

  [class^="CTA"] {
    @include cta-gaq-modified;
    font-size: 20.25px;
  }
}
