@import "/scss/globals/color.scss";
@import "/scss/globals/variables.scss";

.cartButton {
  margin-left: 2px;
  position: relative;
  color: $color-primary-grey;
  white-space: nowrap;
  padding: 2px 4px 0px 4px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  top: -1px;
  line-height: 0px;
}
.cartButton:hover {
  color: $color-primary-accent;
  border-bottom: 3px solid $color-primary-accent;
}

.itemCounter {
  position: absolute;
  font-family: $font-extra-bold;
  top: -10%;
  right: -22%;
  height: 16px;
  width: 16px;
  border: 1px solid $color-white;
  background-color: $color-primary;
  border-radius: 50%;
  color: $color-primary-grey;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}
