@use "sass:map";
@import "../../scss/globals/variables.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/mixins.scss";

.footer {
  background-color: $color-white;
  border-top: 1px solid $color-primary-grey;
}

.container {
  @include container;

  max-width: map.get($breakpoints, "xl");
  margin: 0 auto;
}

/* PRIMARY MENU */

.footerMenu {
  @include mq-min-width(sm) {
    display: flex;
  }
}

.col {
  @include mq-min-width(sm) {
    flex: 1;
  }
}

.menuLabel {
  margin-bottom: 0.938em;

  @include mq-min-width(md) {
    margin-bottom: 1.25em;
  }
}

.menuItems {
  @include unstyle-list;
  font-size: 14px;

  .navItem {
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .navItem:last-child {
    padding-bottom: 40px;

    @include mq-min-width(lg) {
      padding-bottom: 60px;
    }
  }
}

/* SECONDARY / HORIZONTAL MENU */

.horizontalFooterMenu {
  @include unstyle-list;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-hint;
  border-bottom: 1px solid $color-hint;
  margin-bottom: 1.875em;
  padding-top: 10px;

  @include mq-min-width(sm) {
    flex-direction: row;
    align-items: center;
  }

  .navItem {
    padding-bottom: 10px;
    width: 100%;
    padding-right: 30px;
    font-size: 12px;
    line-height: 1.2;
  }

  .navItem:last-child {
    font-family: $font-extra-bold;
  }
}

/* PRIMARY LEGAL */

.legalFooter {
  p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0.475em;
  }
}

.legalNavItem {
  color: $color-primary-accent;
}

.legalAccordianButton {
  border: 1px solid;
  border-color: transparent;
  font-family: $font-regular;
  background-color: $color-white;
  margin-bottom: 0.475em;
  padding-left: 0;
  align-items: center;

  .legalAccordianButtonText {
    margin-left: 5px;
    text-decoration: underline transparent;
    font-size: 12px;
  }

  &:focus {
    border-color: $color-primary-accent;
  }
}

.legalAccordianButton:hover {
  .legalAccordianButtonText {
    text-decoration: underline $color-primary-accent;
    color: $color-primary-accent;
  }
  .legalAccordianIcon {
    color: $color-primary-accent;
  }
}

.legalAccordianIcon {
  margin: 0;
  position: relative;
  font-family: "icomoon";
  padding-left: 1px;
}

.legalAccordianIconMinus {
  &::before {
    content: "\e939";
  }
}

.legalAccordianIconPlus {
  &::before {
    content: "\e9a5";
  }
}
