@use "sass:map";
@import "../../scss/globals/variables.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";
@import "../../scss/globals/mixins.scss";

.footer {
  background-color: $color-white;
  border-top: 1px solid $color-primary-grey;
}

.container {
  @include container;

  max-width: map.get($breakpoints, "xl");
  margin: 0 auto;
}

/* PRIMARY MENU */

.footerMenu {
  @include mq-min-width(sm) {
    display: flex;
  }
}

.col {
  @include mq-min-width(sm) {
    flex: 1;
  }
}

.menuLabel {
  margin-bottom: 0.938em;

  @include mq-min-width(md) {
    margin-bottom: 1.25em;
  }

  @include mq-min-width(lg) {
    margin-bottom: 25.008px;
  }
}

.menuItems {
  @include unstyle-list;
  font-size: 14px;

  .navItem {
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .navItem:last-child {
    padding-bottom: 40px;

    @include mq-min-width(lg) {
      padding-bottom: 60px;
    }
  }
}

/* SECONDARY / HORIZONTAL MENU */

.horizontalFooterMenu {
  @include unstyle-list;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-hint;
  border-bottom: 1px solid $color-hint;
  margin-bottom: 1.875em;
  padding-top: 10px;

  @include mq-min-width(sm) {
    flex-direction: row;
    align-items: center;
  }

  .navItem {
    padding-bottom: 10px;
    width: 100%;
    padding-right: 30px;
    font-size: 12px;
    line-height: 1.2;
  }

  .navItem:last-child {
    font-family: $font-extra-bold;
  }
}

/* LEGAL FOOTER */

.legalFooter {
  p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0.475em;
  }

  a {
    color: $color-primary-accent;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover,
    &:focus {
      color: $color-links;
      span:first-of-type {
        background-image: linear-gradient(transparent, transparent),
        linear-gradient($color-links, $color-links);
      }
      span:last-of-type {
        color: $color-links;
      }
    }

  }
}

.legalDetailsButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: $font-regular;
  padding: 0 3px 0 3px;
  margin-top: 10px;
  margin-bottom: 0.475em;
  font-size: 12px;

  &:hover,
  &:focus {
    color: $color-primary-accent;

    span {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: 1px solid $color-primary-accent;
  }
}

.legalDetailsShow,
.legalDetailsHide {
  &::before {
    display: inline-block;
    margin-right: 8px;
    font-family: "icomoon";
    font-size: 0.9375rem;
  }
}

.legalDetailsShow::before {
  content: "\e939";
}

.legalDetailsHide::before {
  content: "\e9a5";
}
