@import "../../scss/globals/layout.scss";
@import "../../scss/globals/color.scss";

.container {
  background: $color-white;
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq-min-width(md) {
    padding-right: 4.438em;
    padding-left: 4.438em;
  }
}
