@import "./color.scss";

/*
Applies styled focus outline
*/
@mixin focus-border {
  &:focus {
    outline: 1px solid $color-primary-accent;
    outline-offset: 2px;
    border-radius: 5px;
  }
}

/*
Makes an element not visible on the screen, but still available to
assistive technologies (e.g. screen readers)
*/
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
Makes an element visually-hidden, but allows it to be revealed when focused.
Use for focusabel elements like `a`, `button`, `input`, etc.
*/
@mixin visually-hidden-focusable {
  &:not(:focus):not(:active) {
    @include visually-hidden;
  }
}
