@import "./layout.scss";
@import "./color.scss";

@mixin unstyle-button {
  border: unset;
  background-color: unset;
  padding: unset;
  margin: unset;
}

@mixin _make-cta($color, $bgcolor) {
  @include unstyle-button;

  display: block;
  box-sizing: border-box;
  width: 100%;
  color: $color;
  background-color: $bgcolor;
  box-shadow: inset 0 0 0 3px $bgcolor;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  padding: 13px 21px;
  font-size: 1.125em;

  @include mq-min-width(md) {
    display: inline-block;
    width: unset;
  }
}

@mixin cta-primary() {
  @include _make-cta($color-black, $color-primary);
}

@mixin cta-secondary() {
  @include _make-cta($color-white, $color-primary-grey);
}
