[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconBuyOnline:before {
  content: "\e991";
}
.iconClaims:before {
  content: "\e992";
}
.iconCustomerService:before {
  content: "\e993";
}
.iconCopy:before {
  content: "\e990";
}
.iconCocktailSolidBg:before {
  content: "\e98f";
  color: #fff;
}
.iconChickenWing:before {
  content: "\e98a";
}
.iconChickenWingSolidBg:before {
  content: "\e98b";
  color: #fff;
}
.iconCocktail:before {
  content: "\e98c";
}
.iconSchoolBus:before {
  content: "\e98d";
}
.iconSchoolBusSolidBg:before {
  content: "\e98e";
  color: #fff;
}
.iconPet:before {
  content: "\e994";
}
.iconCat:before {
  content: "\e995";
}
.iconDog:before {
  content: "\e996";
}
.iconDogLg:before {
  content: "\e997";
}
.iconCatLg:before {
  content: "\e998";
}
.icon0:before {
  content: "\e900";
}
.icon1:before {
  content: "\e901";
}
.icon2:before {
  content: "\e902";
}
.icon3:before {
  content: "\e903";
}
.icon4:before {
  content: "\e904";
}
.icon5:before {
  content: "\e905";
}
.icon6:before {
  content: "\e906";
}
.icon7:before {
  content: "\e907";
}
.icon8:before {
  content: "\e908";
}
.icon9:before {
  content: "\e909";
}
.iconAmexCvv:before {
  content: "\e90a";
}
.iconAuto:before {
  content: "\e90b";
}
.iconAutoPlus:before {
  content: "\e90c";
}
.iconBankPayment:before {
  content: "\e90d";
}
.iconBicycle:before {
  content: "\e90e";
}
.iconBrowser:before {
  content: "\e90f";
}
.iconBulletBubble:before {
  content: "\e910";
}
.iconBusinessProperty:before {
  content: "\e911";
}
.iconCalendar:before {
  content: "\e912";
}
.iconCamera:before {
  content: "\e913";
}
.iconCaret:before {
  content: "\e914";
}
.iconCarParts:before {
  content: "\e915";
}
.iconCashCards:before {
  content: "\e916";
}
.iconChangeAddress:before {
  content: "\e917";
}
.iconChatLive:before {
  content: "\e918";
}
.iconCheckStandAlone:before {
  content: "\e919";
}
.iconChevron:before {
  content: "\e91a";
}
.iconClaimsFree:before {
  content: "\e91b";
}
.iconCloseStandAlone:before {
  content: "\e91c";
}
.iconCollectables:before {
  content: "\e91d";
}
.iconCondo:before {
  content: "\e91e";
}
.iconCondoPlus:before {
  content: "\e91f";
}
.iconConvictionFree:before {
  content: "\e920";
}
.iconCreditcardPayment:before {
  content: "\e921";
}
.iconDeductibleWaiver:before {
  content: "\e922";
  color: #595959;
}
.iconDelete:before {
  content: "\e923";
}
.iconDownload:before {
  content: "\e924";
}
.iconDriver:before {
  content: "\e925";
}
.iconDriverKG:before {
  content: "\e926";
}
.iconDriverNotify .path1:before {
  content: "\e927";
  color: rgb(50, 50, 50);
}
.iconDriverNotify .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(229, 229, 90);
}
.iconExclamation:before {
  content: "\e929";
}
.iconExclusiveSonnetSavings:before {
  content: "\e92a";
}
.iconFacebook:before {
  content: "\e92b";
  color: #395185;
}
.iconFacebookPlain:before {
  content: "\e9a7";
}
.iconFirstClaimForgiveness:before {
  content: "\e92c";
}
.iconFlash:before {
  content: "\e92d";
}
.iconGolfCart:before {
  content: "\e92e";
}
.iconGuitar:before {
  content: "\e92f";
}
.iconHeader:before {
  content: "\e930";
}
.iconHeadphones:before {
  content: "\e931";
}
.iconHealthyCreditSavings:before {
  content: "\e932";
}
.iconHeartHouse:before {
  content: "\e933";
}
.iconHomeAndAuto:before {
  content: "\e934";
}
.iconHomeNotify .path1:before {
  content: "\e935";
  color: rgb(50, 50, 50);
}
.iconHomeNotify .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(229, 229, 90);
}
.iconHomePlus:before {
  content: "\e937";
}
.iconHouse:before {
  content: "\e938";
}
.iconInstagram:before {
  content: "\e939";
}
.iconItemsAtNursingHome:before {
  content: "\e93a";
}
.iconJewellery:before {
  content: "\e93b";
}
.iconLandlord:before {
  content: "\e93c";
}
.iconLandlordPlus:before {
  content: "\e93d";
}
.iconLaptop:before {
  content: "\e93e";
}
.iconLinkedin:before {
  content: "\e93f";
  color: #0071a1;
}
.iconLinkedPayments:before {
  content: "\e940";
}
.iconLock:before {
  content: "\e941";
}
.iconMail:before {
  content: "\e942";
}
.iconMakeClaim:before {
  content: "\e943";
}
.iconMultiHome:before {
  content: "\e944";
}
.iconMultiVehicle:before {
  content: "\e945";
}
.iconNavAuto:before {
  content: "\e946";
}
.iconNavBurger:before {
  content: "\e947";
}
.iconNavBurgerLoggedIn:before {
  content: "\e948";
}
.iconNavCaret:before {
  content: "\e949";
}
.iconNavCartEmpty:before {
  content: "\e94a";
}
.iconNavCartFull:before {
  content: "\e94b";
}
.iconNavClose:before {
  content: "\e94c";
}
.iconNavCondo:before {
  content: "\e94d";
}
.iconNavContactUs:before {
  content: "\e94e";
}
.iconNavEN:before {
  content: "\e94f";
}
.iconNavFR:before {
  content: "\e950";
}
.iconNavHouse:before {
  content: "\e951";
}
.iconNavLandlord:before {
  content: "\e952";
}
.iconNavSearch:before {
  content: "\e953";
}
.iconNavTenant:before {
  content: "\e954";
}
.iconNext:before {
  content: "\e955";
}
.iconNoFees:before {
  content: "\e956";
}
.iconNotify1:before {
  content: "\e957";
}
.iconNotify2:before {
  content: "\e958";
}
.iconNotify3:before {
  content: "\e959";
}
.iconNotify4:before {
  content: "\e95a";
}
.iconNotify5:before {
  content: "\e95b";
}
.iconNotify6:before {
  content: "\e95c";
}
.iconNotify7:before {
  content: "\e95d";
}
.iconNotify8:before {
  content: "\e95e";
}
.iconNotify9:before {
  content: "\e95f";
}
.icon-new-window:before {
  content: "\e960";
  font-size: 16px !important;
  right: -21px;
  position: absolute;
  top: 65%;
  vertical-align: middle;
  color: #323232;
  transform: translateY(-50%);
}
.iconPause:before {
  content: "\e961";
}
.iconPending:before {
  content: "\e962";
}
.iconPersonalBelongings:before {
  content: "\e963";
}
.iconPhone:before {
  content: "\e964";
}
.iconPizza:before {
  content: "\e965";
}
.iconPizzaSolidBg:before {
  content: "\e966";
  color: #fff;
}
.iconPlay:before {
  content: "\e967";
}
.iconPlus:before {
  content: "\e968";
}
.iconPrint:before {
  content: "\e969";
}
.iconReplacementCostGuarantee:before {
  content: "\e96a";
}
.iconRetireeDiscount:before {
  content: "\e96b";
}
.iconSaveQuote:before {
  content: "\e96c";
}
.iconSchool:before {
  content: "\e96d";
}
.iconSearch:before {
  content: "\e96e";
}
.iconSecureSite:before {
  content: "\e96f";
}
.iconSecurities:before {
  content: "\e970";
}
.iconShare:before {
  content: "\e971";
}
.iconSilverware:before {
  content: "\e972";
}
.iconSoftwares:before {
  content: "\e973";
}
.iconStoredAtBank:before {
  content: "\e974";
}
.iconTablet:before {
  content: "\e975";
}
.iconTenant:before {
  content: "\e976";
}
.iconTenantPlus:before {
  content: "\e977";
}
.iconThumbsDown:before {
  content: "\e978";
}
.iconThumbsUp:before {
  content: "\e979";
}
.iconToiletPaper:before {
  content: "\e97a";
}
.iconToiletPaperSolidBg:before {
  content: "\e97b";
  color: #fff;
}
.iconToolTip:before {
  content: "\e97c";
  color: #9e0a9a;
}
.iconTransferCoverages:before {
  content: "\e97d";
}
.iconTriangle:before {
  content: "\e97e";
}
.iconTwitter:before {
  content: "\e97f";
  color: #1da1f2;
}
.iconUpdateDriver:before {
  content: "\e980";
}
.iconUpdatePaymentDetails:before {
  content: "\e981";
}
.iconUpdateVinDetails:before {
  content: "\e982";
}
.iconVisaCvv:before {
  content: "\e983";
}
.iconWarning:before {
  content: "\e984";
}
.iconWatercraft:before {
  content: "\e985";
}
.iconWineBottle:before {
  content: "\e986";
}
.iconWineBottleSolidBg:before {
  content: "\e987";
  color: #fff;
}
.iconWinterTires:before {
  content: "\e988";
}
.iconYoutube:before {
  content: "\e989";
}
.icon-icon_nav_caret:before {
  content: "\e999";
}
.icon-icon_nav_caret_act:before {
  content: "\e99a";
  color: #6ebac5;
}
.icon-icon_nav_caret_inv:before {
  content: "\e99b";
  color: #fff;
}
.icon-icon_nav_LoggedIn:before {
  content: "\e99c";
}
.icon-icon_nav_LoggedIn_act:before {
  content: "\e99d";
  color: #6ebac5;
}
.icon-icon_nav_LoggedIn_inv:before {
  content: "\e99e";
  color: #fff;
}
.icon-icon_nav_minus:before {
  content: "\e99f";
}
.icon-icon_nav_minus_act:before {
  content: "\e9a0";
  color: #6ebac5;
}
.icon-icon_nav_minus_inv:before {
  content: "\e9a1";
  color: #fff;
}
.icon-icon_nav_plus:before {
  content: "\e9a2";
}
.icon-icon_nav_plus_act:before {
  content: "\e9a3";
  color: #6ebac5;
}
.icon-icon_nav_plus_inv:before {
  content: "\e9a4";
  color: #fff;
}
.icon-icon_legalAccordion_minus:before {
  content: "\e939";
}
.icon-icon_legalAccordion_plus:before {
  content: "\e9a5";
}
.iconClock:before {
  content: "\e9a6";
}
