@import "../../scss/globals/color";
@import "../../scss/globals/fonts";
@import "../../scss/globals/layout";

$accordion-border: 0.25px solid $color-grey-10;

.accordion {
  box-shadow: none;
  margin-bottom: 5px;
  border: $accordion-border;
}

.summary {
  position: relative;
  background-color: $color-white;
  padding: 17px 75px 16px 30px;
  font-size: 0.875rem;
  line-height: 21px;
  font-family: $font-extra-bold;
  font-weight: 500;

  /* Hover animation when collapsed */
  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-color: #147582;
    width: 0;
    height: 2px;
    transition: 0.65s;
  }

  /* animation when expanded */
  &.summaryExpanded {
    color: $color-white;

    &::after {
      width: 100%;
      height: 100%;
      transition: 0.65s height;
    }
  }
}

.summaryContent {
  position: relative;
  z-index: 1;
  margin: 0;
}

.details {
  border-top: $accordion-border;
  padding: 15px;

  @include mq-min-width(lg) {
    padding: 30px;
  }
}
