@import "../../scss/globals/color";
@import "../../scss/globals/variables";
@import "../../scss/globals/layout";

$accordion-border: 0.25px solid $color-black;

.accordion {
  box-shadow: none;
  margin-bottom: 5px;
  border: $accordion-border;
}

.summary {
  position: relative;
  background-color: $color-white;
  padding: 10px 15px;
  font-family: $font-extra-bold;

  @include mq-min-width(lg) {
    padding: 15px 24px 15px 30px;
  }

  &:focus {
    background-color: $color-white;
  }

  /* animated elements */
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: $color-primary-accent;
  }

  /* background fill */
  &::before {
    width: 100%;
    height: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.65s height;
    }
  }

  /* top bar */
  &::after {
    width: 0;
    height: 2px;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.65s width;
    }
  }

  &:hover::after,
  &:focus::after {
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.65s width;
    }
  }

  /* animation when expanded */
  &.summaryExpanded {
    color: $color-white;

    &::before {
      height: 100%;

      @media (prefers-reduced-motion: no-preference) {
        transition: 0.65s height;
      }
    }

    .summaryIcon {
      color: $color-white;
    }
  }
}

.summaryContent {
  position: relative;
  z-index: 1;
  margin: 0;
}

.summaryIcon {
  position: relative;
  z-index: 1;
  color: $color-primary-accent;
  margin-left: 24px;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.65s;
  }
}

.details {
  border-top: $accordion-border;
  padding: 15px;
  text-align: left;
  color: $color-primary-grey;

  @include mq-min-width(md) {
    padding: 20px 15px;
  }

  @include mq-min-width(lg) {
    padding: 30px;
  }
}
