@import "../../scss/globals/color";
@import "../../scss/globals/buttons";
@import "../../scss/globals/layout";

.root {
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  outline: none;
  padding: 40px 30px;

  @include mq-min-width(md) {
    min-height: 0;
    padding: 40px 26px;
  }

  @include mq-min-width(lg) {
    padding: 60px;
  }

  @include mq-min-width(xl) {
    padding: 60px;
  }
}

.closeButton {
  @include unstyle-button;

  position: absolute;
  top: 17px;
  right: 17px;
  color: $color-primary-accent;
  outline: none;

  svg {
    display: block;
    height: 15px;
    width: 15px;
  }

  &:hover {
    color: $color-links;
  }
  &:focus-within {
    outline: 1px dashed;
    outline-offset: 3px;
  }
}
