@import "/scss/globals/color.scss";
@import "/scss/globals/layout.scss";
@import "/scss/globals/typography.scss";

.section {
  background: $color-grey-03;
}

.content {
  @include mq-min-width(sm) {
    padding: 40px 30px 13px;
    text-align: left;
  }

  @include mq-min-width(md) {
    padding: 40px 37px 13px;
    text-align: center;
  }

  @include mq-min-width(lg) {
    padding: 60px 71px 13px;
  }
}

.heading {
  @include heading-margin;
}

.rowColumnFlexBox {
  display: flex;
  flex-direction: column;

  @include mq-min-width(md) {
    flex-direction: row;
  }
}

.columnsAlignment {
  width: 100%;
}

.spacingsLeft {
  @include mq-min-width(sm) {
    padding: 13px 30px;
  }

  @include mq-min-width(md) {
    padding: 26px 13px 13px 37px;
  }

  @include mq-min-width(lg) {
    padding: 26px 15px 15px 71px;
  }

  h3 {
    @include mq-min-width(sm) {
      text-align: left;
    }

    @include mq-min-width(md) {
      text-align: center;
    }
  }
}

.spacingsRight {
  @include mq-min-width(sm) {
    padding: 13px 30px;
  }

  @include mq-min-width(md) {
    padding: 26px 37px 13px 13px;
  }

  @include mq-min-width(lg) {
    padding: 26px 71px 15px 15px;
  }

  h3 {
    @include mq-min-width(sm) {
      text-align: left;
    }

    @include mq-min-width(md) {
      text-align: center;
    }
  }
}

.spacingsAccordianLeft {
  @include mq-min-width(sm) {
    padding: 13px 30px;
  }

  @include mq-min-width(md) {
    padding: 13px 13px 40px 37px;
  }

  @include mq-min-width(lg) {
    padding: 13px 15px 60px 71px;
  }
}

.spacingsAccordianRight {
  @include mq-min-width(sm) {
    padding: 13px 30px 40px;
  }

  @include mq-min-width(md) {
    padding: 13px 37px 40px 13px;
  }

  @include mq-min-width(lg) {
    padding: 13px 71px 60px 15px;
  }
}
