@import "../../scss/globals/variables.scss";
@import "../../scss/globals/fonts.scss";
@import "../../scss/globals/mixins.scss";
@import "../../scss/globals/color.scss";
@import "../../scss/globals/layout.scss";

.container {
  @include mq-min-width(md) {
    width: 578px;
  }

  @include mq-min-width(lg) {
    width: auto;
  }
}

.title {
  padding-bottom: 0.938em;
  text-align: center;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  label {
    font-family: $font-extra-bold;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .formControl {
    border: 1px solid $color-hint;
    border-radius: 0;
    width: 100%;
    height: 38px;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .formControl:focus {
    background-color: $color-white;
    outline: 0;
    box-shadow: none;
    border: 3px solid $color-primary-accent;
  }

  .submitButton {
    align-self: center;
    width: min-content;
    background-color: $color-primary;
    color: $color-primary-grey;
    box-shadow: inset 0 0 0 3px $color-primary;
    border-radius: 25px;
    padding: 13px 21px;
    font-size: 1.125em;
    cursor: pointer;
    font-family: $font-extra-bold;
    border: none;
  }
  .submitButton:hover {
    color: $color-white;
    background-color: $color-primary-accent;
    box-shadow: inset 0 0 0 3px $color-primary-accent;
  }
}
