@import "../../scss/globals/color";
@import "../../scss/globals/layout";

.heroContainer {
  min-height: 400px;
  position: relative;
  overflow: hidden;
  margin-top: 39px;
  background-color: $color-white;

  @include mq-min-width(md) {
    height: 400px;
  }

  @include mq-min-width(lg) {
    height: 500px;
  }

  @include mq-min-width(blg) {
    height: 625px;
  }
}

.backgroundContainer {
  position: absolute;
  inset: 0;
}

.whiteGradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 30%,
    $color-white 115%
  );
}

.heroContentContainer {
  width: 100%;
  @include container;
  @include mq-min-width(blg) {
    padding-inline: 135px;
  }

  @include mq-min-width(md) {
    position: absolute;
  }
}

.content {
  margin-top: 20px;
  width: 100%;

  @include mq-min-width(md) {
    max-width: 60%;
  }

  @include mq-min-width(lg) {
    margin-top: 22px;
    max-width: 60%;
  }

  @include mq-min-width(xl) {
    max-width: 75%;
  }

  p {
    margin: 13px 0 26px;

    @include mq-min-width(lg) {
      margin: 15px 0 30px;
    }
  }

  h1 {
    @include mq-min-width(bsm) {
      font-size: 25px;
      line-height: 30px;
    }
    @include mq-min-width(bmd) {
      font-size: 33px;
      line-height: 41px;
    }
    @include mq-min-width(lg) {
      font-size: 38px;
      line-height: 47px;
    }
    @include mq-min-width(blg) {
      font-size: 50px;
      line-height: 65px;
    }
  }
}

.buttonGroup {
  margin-bottom: 20px;
}

.mobileImageContainer {
  position: relative;
  min-height: 100vw; // forces square image
}
