@import "../../scss/globals/color.scss";

.link {
  color: $color-primary-accent;
  white-space: pre-wrap;
  text-decoration: none;
}

.linkText {
  background-color: transparent;
  background-image: linear-gradient($color-primary-accent, $color-primary-accent),
    linear-gradient($color-links, $color-links);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 1px 100%;
  background-repeat: no-repeat;
}

.icon {
  position: relative;
  top: 0.3em;
  left: 0.3em;
  margin-right: 0.5em;

  svg {
    stroke-width: 0.7;
  }
  
}

.link:hover,
.link:focus {
  color: $color-links;
  text-decoration: none;
  .linkText {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient($color-links, $color-links);
    background-size: 0 1px, 100% 1px;

    @media (prefers-reduced-motion: no-preference) {
      -webkit-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      transition-property: all;
      transition-property: background-size;
    }
  }

  .icon {
    color: $color-links;
  }
}

.link:focus {
  outline: 1px solid $color-primary-accent;
  outline-offset: 2px;
}
